{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% include_block page.body %}

{% block body_class %}template-gallerypage{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}
<div class="container-two">
    <div class="masonry-block">
    {% for item in page.gallery_images.all %}
        <div class="image">
            {% image item.image width-400 %} 
            <a href="{{item.id}}" class="caption">{{item.caption}}</a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}


<!-- <div id="container">
    <div id="grid">
        <div class="row">
            <div class="column">
            {% for item in page.gallery_images.all %}
                    <div class="img_wrap">{% image item.image width-400 %} {{item.caption}}</div>
                    {% if forloop.counter0|add:"1"|divisibleby:3 %}
            </div>
            <div class="column">
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
</div> -->



