{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block content %}

    {{ page.body|richtext }}
    <div class="block">
        <div class="animation">
            {% for item in page.gallery_images.all %}
            <div id="img">
                {% image item.image fill-400x330 class="d-inline-flex w-100" %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/home_page.js' %}"></script>
{% endblock %}
    


