#container{
    margin: 40px 50px 40px 50px; 
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    justify-content: center;
    /* border: 1px solid red; */
}

#body{
    width: auto;
    margin-bottom: 25px;
    /* border: 1px solid red; */
}

#header{
    text-align: center;
}

#paragraph{
    text-align: center;
}

#other{
    width: auto;
    /* border: 1px solid red; */
    text-align: center;
}

img{
    /* margin-right: 5px;
    height: 50px; */
    /* margin-top: 5px; */
}

#social{
    display: flex;
    flex-direction: column;
}

#one{
    height: 60px;
}

#two{
    height: 50px;
}

