#container{
    margin: 40px 0px 40px 0px; 
    display: flex;
    justify-content: space-evenly;
}

#body{
    width: 700px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
}

#break{
    width: 10px;
    background: #bb4530;
    /* border: 1px solid red; */
}

#button{
    background-color: #bb4530;
    border-color: #bb4530;
}

#other{
    width: 450px;
    /* border: 1px solid red; */
}

img{
    margin-right: 5px;
    height: 50px;
    /* margin-top: 5px; */
}

#social{
    display: flex;
    flex-direction: column;
}

#two{
    margin-top: 20px;
    display: flex;
}

.link{
    font-size: 27px;
    /* border: 1px solid red; */
}

.what{
    margin-top: 5px;
}

#three{
    display: flex;
}

