*{
    margin: 0px;
    padding: 0px;
    /* outline:1px dotted red; */
    box-sizing: border-box;
}
.container-two{
    display: flex;
    justify-content: center;
    align-content: center;
}
.masonry-block{
    columns: 3 100px;
    column-gap: 1.5rem;
}

.masonry-block.image{
    width: 150px;
    margin: 1rem 1rem 1rem 1rem;
    display: inline-block;
}

.caption{
    display: block;
}

.masonry-block img{
    display: block;
}






