*{
    margin: 0px;
    padding: 0px;
    /* outline:1px dotted red; */
    }

#logo_img{
    margin-left: 5px;
    width: 180px;
    height: 120px;
    /* margin-right: 920px; */
}

.base{
    display: flex;
    background-color: white;
    color: black;
    margin-top: 10px;
    justify-content: space-between;
}

a{
    color: black !important;
    margin-right: 15px;
}

#mainNav{
    margin-right: 40px;
}